{extends '../layout.latte'}

{block content}

    {foreach $topics as $topic}
    {var $title = sprintf('Created on %s at %s by %s', $topic->createdAt->format('j. F Y'), $topic->createdAt->format('H:i'), $topic->author->name)}
    <div n:class="'item topic', $iterator->isOdd() ? 'odd' : 'even'">
        <div class="icons">
            {if $topic->isPinned}
                <img src="{$imagesPath}/pin.svg" alt="pin-ico">
            {else}
                <img src="{$imagesPath}/comments_alt.svg" alt="comments-ico">
            {/if}

            <img n:if="$topic->isLocked" src="{$imagesPath}/lock.svg" alt="lock-ico">
        </div>

        <div class="item-body">
            <div class="title">
                <a href="{plink :Topic:Public:PostsOverview:default internalId => (string)$topic->id}" title="{$title}">{$topic->title}</a>
            </div>

            <div class="creation-info">
                Created {$topic->createdAt|relativeTime} by {$topic->author->name}
            </div>

            <div class="last-post">
                <span>Last post</span>
                <a href="{plink :Topic:Public:PostsOverview:default internalId => (string)$topic->lastPost->topic->id}">{$topic->lastPost->createdAt|relativeTime}</a> by {$topic->lastPost->author->name}
            </div>
        </div>

        <div class="inner-items-count">
            <ul>
                <li><span>Posts</span> {$topic->numberOfPosts}</li>
            </ul>
        </div>
    </div>
    {/foreach}

{/block}