
- Topic\Services\Writers\TopicWriter


# facades
- Topic\Facades\TopicFacade


topicCreationFormControlFactory:
	implement: Topic\Components\ITopicCreationFormControlFactory
	parameters: [Account\Account account, Category\Category category]
	arguments: [%account%, %category%]


postsOverviewControlFactory:
	implement: Topic\Components\IPostsOverviewControlFactory
	parameters: [Topic\Topic topic]
	arguments: [%topic%]

postFormControlFactory:
	implement: Topic\Components\IPostFormControlFactory
	parameters: [Account\Account account, Topic\Topic topic]
	arguments: [%account%, %topic%]