#flashes {
  margin: 0;
  padding: 0; }

.nittro-flash {
  padding: 10px 15px;
  margin-bottom: 5px;
  display: table;
  width: 100%; }
  .nittro-flash img {
    width: 27px;
    height: 27px; }
  .nittro-flash.nittro-flash-info {
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #bcdff1; }
  .nittro-flash.nittro-flash-success {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d0e9c6; }
  .nittro-flash.nittro-flash-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #f5e79e; }
  .nittro-flash.nittro-flash-error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebcccc; }

.form-errors {
  margin: 0;
  padding: 0; }
  .form-errors:empty {
    margin: 0;
    padding: 0; }
  .form-errors p, .form-errors li {
    list-style-type: none;
    padding: 10px 15px;
    margin-bottom: 5px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #f5e79e;
    display: table;
    width: 100%; }
    .form-errors p img, .form-errors li img {
      width: 27px;
      height: 27px; }

body {
  padding: 10px; }

a {
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

a.btn {
  text-decoration: none; }

.login-content {
  margin-top: 50px;
  padding: 10px; }

.login-form-content h1 {
  font-size: 1.2em;
  margin-bottom: 0; }
.login-form-content ul {
  margin-bottom: 0; }

.login-form-password {
  text-align: right; }

@media (min-width: 500px) {
  .login-form-content {
    max-width: 500px;
    margin: 0 auto; } }
.nittro-flash-global-holder {
  z-index: 10000; }

body {
  background-color: #f9f9f9; }

ul, ol, dl {
  margin: 0;
  padding: 0; }

.forum-title h1 {
  margin-bottom: 50px; }

#content-wrapper {
  margin: 0 auto; }

button[type="submit"] {
  cursor: pointer; }

.overview section {
  margin-bottom: 25px;
  border-bottom: 5px solid #78909c;
  padding-bottom: 10px; }
.overview h2 {
  font-size: 1.15rem;
  color: #fff;
  padding: 10px;
  background-color: #78909c;
  margin-bottom: 10px; }
.overview .item {
  padding: 10px; }
  .overview .item.odd {
    background-color: #eceff1;
    border: 1px solid #eceff1; }
    .overview .item.odd:hover {
      border: 1px solid #b7c2ca; }
  .overview .item.even {
    background-color: #fff;
    border: 1px solid #fff; }
    .overview .item.even:hover {
      border: 1px solid #b7c2ca; }
  .overview .item .inner-items-count span,
  .overview .item .last-post span {
    display: block;
    font-weight: bold; }
  .overview .item .title a {
    font-size: 1.25rem;
    font-weight: bold; }
  .overview .item .inner-items-count {
    text-align: right;
    /*div{
      display: inline;
      margin-left: 20px;
    }*/ }
    .overview .item .inner-items-count span {
      display: inline; }
    .overview .item .inner-items-count ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .overview .item .inner-items-count ul li {
        display: inline-block;
        margin-left: 10px; }
  .overview .item .last-post {
    margin-top: 15px; }
    .overview .item .last-post span {
      display: inline; }
      .overview .item .last-post span:after {
        content: ':'; }

.overview p {
  margin: 0;
  text-align: center; }

.topics-overview-actions {
  text-align: right;
  margin-bottom: 5px; }
  .topics-overview-actions li {
    display: inline;
    list-style: none; }

.post {
  padding: 10px;
  border: 1px solid #B0BEC5;
  margin-bottom: 10px;
  background-color: #fff; }
  .post ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .post .header {
    padding-bottom: 10px;
    border-bottom: 1px solid #B0BEC5;
    font-size: 1.2rem; }
  .post .author {
    padding: 10px 0;
    border-bottom: 1px solid #B0BEC5; }
    .post .author .portrait {
      display: none; }
    .post .author .author-info a {
      color: #333;
      font-weight: bold; }
  .post .body .detail {
    margin-bottom: 25px; }
    .post .body .detail ul li {
      display: inline-block;
      margin-right: 15px; }
  .post .body .text {
    margin-bottom: 25px; }
  .post .body .signature {
    padding: 10px 0; }
  .post .footer {
    padding-top: 10px;
    border-top: 1px solid #B0BEC5;
    overflow: hidden;
    text-align: right; }
    .post .footer .actions ul li {
      display: inline-block;
      margin-left: 15px; }

.postForm {
  margin: 35px 0 100px 0; }
  .postForm h2 {
    padding: 35px 0;
    border-top: 1px solid #B0BEC5; }
  .postForm form {
    text-align: right; }
  .postForm button[type="submit"] {
    margin-top: 15px; }
  .postForm .form-errors {
    text-align: left; }

.topic-creation {
  padding: 15px;
  border: 1px solid #B0BEC5;
  background-color: #fff; }

.submit-button {
  display: block;
  width: 100%; }

.info-box {
  border: 1px solid #78909c;
  padding: 15px;
  background-color: #fff; }
  .info-box h2 {
    font-weight: bold;
    margin-bottom: 25px; }

.category-icon {
  width: 20px;
  height: 20px; }

.btn-create {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db; }
  .btn-create:hover {
    color: #fff;
    background-color: #217dbb;
    border-color: #2077b2; }
  .btn-create:focus, .btn-create.focus {
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.5); }
  .btn-create.disabled, .btn-create:disabled {
    background-color: #3498db;
    border-color: #3498db; }
  .btn-create:active, .btn-create.active, .show > .btn-create.dropdown-toggle {
    color: #fff;
    background-color: #217dbb;
    background-image: none;
    border-color: #2077b2; }

@media (min-width: 768px) {
  .post {
    width: 100%;
    overflow: hidden; }
    .post .author {
      width: 150px;
      float: left;
      border: 0;
      text-align: center;
      margin-bottom: 50px; }
      .post .author .portrait {
        width: 100px;
        height: 100px;
        display: block;
        border: 1px solid #e5eaec;
        background-color: #f9f9f9;
        margin: 0 auto 15px auto; }
      .post .author .author-info span {
        display: block; }
    .post .body {
      margin-left: 150px;
      padding-left: 20px; }
    .post .footer {
      clear: both; } }
@media (min-width: 1280px) {
  #content-wrapper {
    max-width: 1280px; } }
@supports (display: grid) {
  @media (min-width: 600px) {
    .overview .item {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 10px;
      grid-template-areas: "itemBody innerItemsCount" "lastPost innerItemsCount"; }
      .overview .item.topic {
        grid-template-columns: 2fr 200px; }
      .overview .item .item-body {
        grid-area: itemBody;
        border-right: 1px solid #B0BEC5; }
        .overview .item .item-body .last-post {
          grid-area: lastPost; }
      .overview .item .inner-items-count {
        grid-area: innerItemsCount;
          /*div{
            margin-left: 10px;

            &:first-of-type{
              margin: 0;
            }
          }*/
          /*.topics-count,
          .posts-count{
            text-align: center;
            flex: 1 0 45%;

            span{
              display: block;
            }
          }*/ }
        .overview .item .inner-items-count ul {
          display: flex; }
          .overview .item .inner-items-count ul li {
            text-align: center;
            flex: 1 0 45%; }
            .overview .item .inner-items-count ul li span {
              display: block; }
            .overview .item .inner-items-count ul li:first-of-type {
              margin-left: 0; } } }

/*# sourceMappingURL=public.css.map */
