{block content}

    <h2>{$topic->getTitle()}</h2>
    <p>{$topic->getSectionTitle()} > <a href="{plink :Category:Public:Category:default internalId => (string)$topic->getCategoryId()}">{$topic->getCategoryTitle()}</a></p>

    <a n:href="this#new-post">+ add post</a>

    {control postsOverview}

    {control postForm}

{/block}