
- Category\Facades\SectionFacade
- Category\Facades\CategoryFacade

categoriesOverviewControlFactory:
	implement: Category\Components\ICategoriesOverviewControlFactory

categoryTopicsOverviewControlFactory:
	implement: Category\Components\ICategoryTopicsOverviewControlFactory
	parameters: [Category\Category category]
	arguments: [%category%]