
<div class="postForm">
    <h2>New Reply</h2>

    <ul n:flashes></ul>

    <form n:name="form">
        <ul n:errors="text" class="form-errors"></ul>
        <textarea n:name="text" class="form-control" rows="15"></textarea>


        <button n:name="send" class="btn btn-primary">Post Reply</button>

    </form>

</div>