@import "../../../bootstrap/scss/mixins";
@import "../../../bootstrap/scss/variables";
@import "../global-variables";


.nittro-flash-global-holder{
  z-index: 10000;
}

body{
  background-color: #f9f9f9;
}

ul, ol, dl{
  margin: 0;
  padding: 0;
}

.forum-title h1{
  margin-bottom: 50px;
}


#content-wrapper{
  margin: 0 auto;
}


button[type="submit"]{
  cursor: pointer;
}


// ----- SECTIONS OVERVIEW -----

.overview{
  section{
    margin-bottom: 25px;
    border-bottom: 5px solid #78909c;
    padding-bottom: 10px;
  }

  h2{
    font-size: 1.15rem;
    color: #fff;
    padding: 10px;
    background-color: #78909c;
    margin-bottom: 10px;
  }

  .item{
    padding: 10px;

    &.odd{
      background-color: #eceff1;
      border: 1px solid #eceff1;

      &:hover{
        border: 1px solid darken(#eceff1, 18%);
      }
    }

    &.even{
      background-color: #fff;
      border: 1px solid #fff;

      &:hover{
        border: 1px solid darken(#eceff1, 18%);
      }
    }

    .inner-items-count,
    .last-post{
      span{
        display: block;
        font-weight:bold;
      }
    }

    .title a{
      font-size: 1.25rem;
      font-weight: bold;
    }

    .icons{
      float: left;
      display: none;

      img{
        display: block;
        width: 32px;
        height: 32px;
        margin-bottom: 20px;
      }
    }

    .inner-items-count{
      //display: none;
      text-align: right;

      span {
        display: inline;
      }

      /*div{
        display: inline;
        margin-left: 20px;
      }*/

      ul{
        margin: 0;
        padding: 0;
        list-style: none;

        li{
          display: inline-block;
          margin-left: 10px;
        }
      }
    }

    .last-post{
      margin-top: 15px;

      span{
        display: inline;

        &:after{
          content: ':';
        }
      }
    }
  }
}

.overview p{
  margin: 0;
  text-align: center;
}


.topics-overview-actions{
  text-align: right;
  margin-bottom: 5px;
  
  li{
    display: inline;
    list-style: none;
  }
}


// ----- POSTS OVERVIEW


.post{
  padding: 10px;
  border: 1px solid #B0BEC5;
  margin-bottom: 10px;
  background-color: #fff;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .header{
    padding-bottom: 10px;
    border-bottom: 1px solid #B0BEC5;
    font-size: 1.2rem;
  }

  .author{
    padding: 10px 0;
    border-bottom: 1px solid #B0BEC5;

    .portrait{
      display: none;
    }

    .author-info a{
      color: #333;
      font-weight: bold;
    }
  }

  .body{
    .detail{
      margin-bottom: 25px;

      ul li{
        display: inline-block;
        margin-right: 15px;
      }
    }

    .text{
      margin-bottom: 25px;
    }

    .signature{
      padding: 10px 0;
    }
  }

  .footer{
    padding-top: 10px;
    border-top: 1px solid #B0BEC5;
    overflow: hidden;
    text-align: right;

    .actions ul{
      li{
        display: inline-block;
        margin-left: 15px;
      }
    }
  }
}

.postForm{
  margin: 35px 0 100px 0;

  h2{
    padding: 35px 0;
    border-top: 1px solid #B0BEC5;
  }

  form{
    text-align: right;
  }

  button[type="submit"]{
    margin-top: 15px;
  }

  .form-errors{
    text-align: left;
  }
}


// ----- TOPIC CREATION


.topic-creation{
  padding: $box-padding;
  border: 1px solid #B0BEC5;
  background-color: #fff;
}

.submit-button{
  display: block;
  width: 100%;
}

// -----


.info-box{
  border: 1px solid #78909c;
  padding: $box-padding;
  background-color: #fff;

  h2{
    font-weight: bold;
    margin-bottom: 25px;
  }
}

.category-icon{
  width: 20px;
  height: 20px;
}


// ----- buttons


.btn-create{
  @include button-variant(#fff, #3498db, #3498db);
}


@media (min-width: 500px){
  .overview .item{
    .icons{
      display: block;
    }

    .item-body{
      margin-left: 50px;
    }
  }
}


@media (min-width: 768px){
  .post{
    width: 100%;
    overflow: hidden;

    .author{
      width: 150px;
      float: left;
      border: 0;
      text-align: center;
      margin-bottom: 50px;

      .portrait{
        width: 100px;
        height: 100px;
        display: block;
        border: 1px solid lighten(#B0BEC5, 18%);
        background-color: #f9f9f9;
        margin: 0 auto 15px auto;
      }

      .author-info span{
        display: block;
      }
    }

    .body{
      margin-left: 150px;
      padding-left: 20px;
    }

    .footer{
      clear: both;
    }
  }
}


@media (min-width: 1280px){
  #content-wrapper{
    max-width: 1280px;
  }
}




@supports (display: grid){
  @media (min-width: 600px){
    .overview{
      .item{
        display: grid;
        grid-template-columns: 40px 2fr 1fr;
        grid-column-gap: 10px;
        grid-template-areas:
          "icons itemBody innerItemsCount"
          "icons lastPost innerItemsCount";

        &.topic{
          grid-template-columns: 40px 2fr 200px;
        }

        .icons{
          grid-area: icons;
          justify-items: center;

          img{
            margin: 0 auto 15px auto;
          }
        }

        .item-body{
          grid-area: itemBody;
          border-right: 1px solid #B0BEC5;
          margin-left: 0;

          .last-post{
            grid-area: lastPost;
          }
        }

        .inner-items-count{
          grid-area: innerItemsCount;

          ul{
            display: flex;

            li{
              text-align: center;
              flex: 1 0 45%;

              span{
                display: block;
              }

              &:first-of-type{
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}