
<div class="overview">
{foreach $sections as $section}
    <section>
        <h2>{$section['title']}</h2>

        {foreach $section['categories'] as $category}
        <div n:class="'item', $iterator->isOdd() ? 'odd' : 'even'">
            <a href="{plink :Category:Public:Category:default internalId => (string)$category['id']}" class="item-detail">
                <div class="title">
                    <span>Name</span>
                    <span class="title-link">{$category['title']}</span>
                </div>
                <div class="description" n:if="!($category['description'] === null or $category['description'] === '')">
                    {$category['description']}
                </div>
            </a>

            <div class="inner-items-amount">
                <span>Topics</span>
                {$category['numberOfTopics']}
            </div>

            <div class="last-post">
                <span>Last post</span>
                {if $category['lastPost'] !== null}
                    {var $lastPostTitle = sprintf('Created on %s at %s by %s', $category['lastPost']['createdAt']->format('j. F Y'), $category['lastPost']['createdAt']->format('H:i'), $category['lastPost']['author']['name'])}
                    <a href="{plink :Topic:Public:Topic:default internalId => (string)$category['lastPost']['topic']['id']}" title="{$lastPostTitle}">{$category['lastPost']['createdAt']|relativeTime}</a> by {$category['lastPost']['author']['name']}
                {else}
                    -
                {/if}
            </div>
        </div>
        {/foreach}

    </section>
{/foreach}
</div>