{block content}
    <div class="info-box">
        <h2>Requested Forum is not public</h2>

        <p>Requested forum <strong>{$category->getTitle()}</strong> is not public.
            If you want to visit this forum, <a href="{plink :Account:Public:Auth:signIn}">you have to be logged in</a>.</p>
    </div>
{/block}