{block content}

    <div class="topics-overview-actions">
        <ul>
            <li><a href="{plink :Topic:Public:Topic:new cid => $category->getId()}" class="btn btn-create">+ create new topic</a></li>
        </ul>
    </div>

    {control topicsOverview}

{/block}