{block content}

    <div class="info-box">
        <h2>Topic creation</h2>

        <p>You need to be signed in to create a topic.
            <a href="{plink :Account:Public:Auth:signIn}">Please sign in</a>.</p>
    </div>

{/block}